body{
    min-height: 100vh;
    margin: 0;
    background-image: url("https://wallpapers.com/images/hd/explode-sage-mode-faceless-naruto-4k-pc-nzlc2hx4j92ic97j.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

main{
    background-color: rgba(211, 91, 10, 0.2);
    max-width: 75%;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

header{
    text-align: center;
}

h1{
    margin-bottom: 0;
}
h3{
    text-align: center;
    font-size: 1.5em;
}

header p{
    margin-top: 0;
    font-style: italic;
    padding-bottom: 20px;
}

a{
    color: white;
}

a:hover{
    color: rgba(211, 91, 10, 0.5);
    background-color: white;
}

ul > li > p{
    margin-top: 2px;
}

#img-div{
    padding-bottom: 20px;
}

#image{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#img-caption{
    text-align: center;
    font-size: 0.8em;
    font-style: italic;
}

#sub{
    padding-bottom: 15px;
}

#last-p{
    padding-top: 20px;
}

#final-msg{
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
}